.myphoto{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.homeBody{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.photoDescription{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.techStack{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon{
  padding:5px;
}

@keyframes pop-up {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.25);
  }
}

.github:hover{
  animation: pop-up 1s forwards;
}

.email:hover{
  animation: pop-up 1s forwards;
}

.linkedin:hover{
  animation: pop-up 1s forwards;
}