.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #020118;
  height: 100vh;
  width: 100%;
  color: white;
}

/* .navbar{
  width: 100%;
  background-color: #020118;
  color: #ffffff;
  display: flex;
  justify-content:space-around;
  align-items: center;
} */

/* .myphoto{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.homeBody{
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.techStack{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon{
  padding:5px;
} */


